<div class="grid grid-cols-1 md:grid-cols-3 gap-y-10 gap-x-6">
  <div class="text-center">
    <img class="mx-auto mb-6" src="./assets/icons/svgs/face.svg" alt="img" />
    <div class="text-center text-2xl md:text-3xl mb-5 font-serif">
      Anti-Aging Facial
    </div>
    <div class="text-sm">
      Contrary to popular belief Lorem Ipsum or random text It has roots in
    </div>
  </div>

  <div class="text-center">
    <img class="mx-auto mb-6" src="./assets/icons/svgs/hydra.svg" alt="img" />
    <div class="text-center text-2xl md:text-3xl mb-5 font-serif">
      Hydra Facial
    </div>
    <div class="text-sm">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum is simply dummy text of the printing and typesetting industry
    </div>
  </div>

  <div class="text-center">
    <img class="mx-auto mb-6" src="./assets/icons/svgs/skin.svg" alt="img" />
    <div class="text-center text-2xl md:text-3xl mb-5 font-serif">
      Skin Tightening
    </div>
    <div class="text-sm">
      It is a long established fact reader will be distracted by the readable
    </div>
  </div>
</div>
