<section>
  <div class="bg-secondary">
    <div class="container mx-auto py-14 lg:py-20">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight font-bold font-serif mb-4">
          Dịch Vụ
        </h2>
        <div class="px-9 lg:px-56">
          <span
            class="text-sm underline cursor-pointer"
            [routerLink]="ROUTES_CONST.HOME.ROOT"
            >Giới thiệu</span
          >
          /
          <span class="text-sm">Dịch Vụ</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="fixed top-1/2 left-0 lg:hidden">
  <button
    class="text-white px-4 py-3 hover:opacity-70 bg-primary"
    (click)="showFilter = true"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5"
      />
    </svg>
  </button>
</div>

<section>
  <div class="bg-white">
    <div class="container mx-auto py-14 lg:py-20">
      <div class="grid grid-cols-4 lg:gap-x-10 xl:gap-x-14">
        <div class="hidden lg:block">
          <ng-container [ngTemplateOutlet]="filter"></ng-container>
        </div>
        <div class="col-span-4 lg:col-span-3">
          <!-- SORT -->
          <div class="mb-9 w-full text-end">
            <select
              class="inline-block w-52 px-0.5 py-1.5 text-sm text-primary border-b border-solid border-gray-300 focus:outline-none"
              [(ngModel)]="sort"
            >
              <ng-container *ngFor="let i of sorts; index as index">
                <option
                  [value]="i.value"
                  [class.font-bold.text-sm]="i.value === sort"
                  [selected]="i.value === sort"
                >
                  {{ i.label }}
                </option>
              </ng-container>
            </select>
          </div>
          <!-- END SORT -->
          <ng-container [ngTemplateOutlet]="services"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FILTER -->
<ng-template #filter>
  <div class="pb-6 mb-8">
    <h2 class="text-3xl font-bold font-serif mb-5">Bộ lọc</h2>
    <ul>
      <ng-container *ngFor="let c of categories$ | async">
        <li class="py-1 cursor-pointer hover:font-semibold">
          <div class="flex justify-between text-base">
            <span>{{ c.name }}</span>
            <span>({{ c.quantity }})</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</ng-template>
<!-- END FILTER -->

<!-- PRODUCT LIST -->
<ng-template #services>
  <section>
    <div
      class="mt-6 mb-6 grid grid-cols-1 gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-3 xl:gap-x-8"
    >
      <ng-container *ngFor="let i of services$ | async">
        <div class="group cursor-pointer">
          <div
            class="aspect-w-1 aspect-h-1 w-full overflow-hidden bg-gray-200 group-hover:opacity-75 lg:aspect-none h-96"
          >
            <img
              [src]="i.imageUrl"
              alt="img"
              class="h-full w-full object-cover object-center lg:h-full lg:w-full"
            />
          </div>
          <div class="mt-5 text-base font-medium">
            {{ i.name }}
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</ng-template>
<!-- END PRODUCT LIST -->

<nmt-slide-over [(isVisible)]="showFilter">
  <ng-container [ngTemplateOutlet]="filter"></ng-container>
</nmt-slide-over>
