<div class="flex justify-center mb-12">
  <h2 class="text-4xl tracking-tight font-bold font-serif">Sản Phẩm Mới</h2>
</div>
<div
  class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
>
  <ng-container *ngFor="let i of newProducts">
    <nmt-product-item [item]="i"></nmt-product-item>
  </ng-container>
</div>

<div class="flex justify-center mt-8">
  <button
    [routerLink]="[ROUTES_CONST.PRODUCT.ROOT]"
    class="text-white px-10 py-3 hover:opacity-70 bg-primary"
  >
    XEM THÊM

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 inline-block ml-2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
      />
    </svg>
  </button>
</div>
