<nmt-carousel [items]="carouselItems"></nmt-carousel>
<section>
  <div class="bg-white">
    <div class="container mx-auto py-20 lg:py-32">
      <nmt-home-highlight></nmt-home-highlight>
    </div>
  </div>
</section>
<div class="bg-secondary">
  <div class="container mx-auto py-20 lg:py-28">
    <nmt-home-salient-features></nmt-home-salient-features>
  </div>
</div>
<ng-container [ngTemplateOutlet]="trendingServices"></ng-container>
<nmt-home-video-highlight></nmt-home-video-highlight>
<ng-container [ngTemplateOutlet]="newProducts"></ng-container>
<ng-container [ngTemplateOutlet]="comments"></ng-container>
<ng-container [ngTemplateOutlet]="popularPost"></ng-container>

<ng-template #trendingServices>
  <!-- Trending Products -->
  <section>
    <div class="bg-white">
      <div class="container mx-auto py-20 lg:py-28">
        <div class="flex justify-center mb-12">
          <h2 class="text-4xl tracking-tight font-bold font-serif">
            Dich Vụ Nổi Bật
          </h2>
        </div>

        <div
          class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
        >
          <ng-container *ngFor="let i of trendingServices$ | async">
            <nmt-service-item [item]="i"></nmt-service-item>
          </ng-container>
        </div>

        <div class="flex justify-center mt-8">
          <button class="text-white px-10 py-3 hover:opacity-70 bg-primary">
            XEM THÊM

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- END Products -->
</ng-template>

<ng-template #newProducts>
  <!-- Trending Products -->
  <section>
    <div class="bg-white">
      <div class="container mx-auto py-20 lg:py-28">
        <nmt-home-new-products
          [newProducts]="newProducts$ | async"
        ></nmt-home-new-products>
      </div>
    </div>
  </section>
  <!-- END Products -->
</ng-template>

<ng-template #comments>
  <section>
    <div class="bg-secondary">
      <div class="container mx-auto py-14 lg:py-20">
        <div class="text-center px-9 lg:px-56">
          <img
            class="mx-auto mb-8"
            src="./assets/icons/svgs/comment.svg"
            alt="img"
          />
          <div class="text-sm mb-10">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry Lorem Ipsum has standard dummy text ever since the 1500
            when an unknown printera galley of type and scrambled it to make a
            type specimen book.
          </div>
          <div class="text-center text-3xl mb-2">Anti-Aging Facial</div>
          <div class="text-sm">Relax Massage</div>
        </div>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #popularPost>
  <section>
    <div class="bg-white">
      <div class="container mx-auto py-20 lg:py-28">
        <div class="flex justify-center mb-12">
          <h2 class="text-4xl tracking-tight font-bold font-serif">
            Bài Viết Nổi Bật
          </h2>
        </div>

        <div
          class="mt-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-y-10 gap-x-8"
        >
          <ng-container *ngFor="let i of popularPost$ | async">
            <nmt-blog-item [item]="i"></nmt-blog-item>
          </ng-container>
        </div>

        <div class="flex justify-center mt-8">
          <button class="text-white px-10 py-3 hover:opacity-70 bg-primary">
            XEM THÊM

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 inline-block ml-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>
</ng-template>
